/* Цвет основного текста #757575 */
/* Цвет вторичного текста #212121 */
/* Основной цвет фона #FFFFFF */
/* Вторичный цвет фона #F5F4FA */
/* Цвет фона футера  #2f303a  */
/* Акцент #2196F3  */

/* site-navigation */

/* Hero */

/* 
advantages */

/* Команда сотрудников */

/* Вид деятельности сотрудников */

/* Раздел "Постоянные клиенты" */

/* Футер */

/* Цвет пока что белый,а не как в макете, для того что бы его было видно */
.text-caps {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  margin-top: 0;
  margin-bottom: 0;
}
